<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="oneCar">
		Rental Company: <%= carRentals.Company %><br>
		Type: <%= carRentals.carType %><br>
		Brand:<%= carRentals.carBrand %><br>
		Model:<%= carRentals.carModel %><br>
		Year:<%= carRentals.carYear %><br>
		Door:<%= carRentals.doorCount %><br>
		
		<img class="car-image" src="<%= carRentals.carImg %>" alt="<% carRentals.carModel %>"
	</div>
	
</body>
</html>